/*

 Main site style

*/

@bgcolor: #FFFFFF;
@headerColour: darken(#FF9933, 10%);
@headerHeight: 40px;

body {
	background-color: darken(@bgcolor,10%);
	padding-top:40px;
}


#header {
	background-color:@headerColour;
	text-shadow:#000 0px 0px 3px;
	color:#FFF;
	font-size:200%;
	font-weight:lighter;
	height:@headerHeight;
	position:fixed;
	width:100%;
	top:0px;

	a {
		color:#FFF;
		text-decoration:none;
	}

	#brand {
		text-transform: capitalize;
		padding-left:10px;
	}

	.link {
		display:inline-block;
		text-transform: uppercase;
		font-size:70%;
		padding:10px;
		height:@headerHeight;

		&:hover {
			background-color: darken(@headerColour, 10%);
		}
		&.active {
			background-color: desaturate(darken(@headerColour, 10%), 10%);
		}
	}

	#social {
		height:@headerHeight;
		float:right;
		display:inline-block;
	}
}


@todoWidth: 640px;

.todo {
	width: @todoWidth;
	overflow: none;
	text-align:left;
	font-size:90%;
	margin: auto auto;

	.file {
		display:inline-block;
		white-space: nowrap;
		overflow-x: hidden;
		width: ( @todoWidth * 0.3 );
		text-align:right;
		direction: rtl;
	}
	.line {
		//display:inline-block;
		color: #78C;
		&:before {
			content: "@";
			font-weight: normal;
		}
	}
	/*.text {
		display:inline-block;
		font-weight: lighter;
		overfloat-x: hidden;
	}*/
}



.post {
	background-color:#FFF;
}


.content {
	margin: auto auto;

	@media screen and (min-width: 800px) {
		width: 800px;
	}
	@media screen and (max-width: 800px) {
		width: 100%;
	}
}

#content {
	margin: auto auto;

	@media screen and (min-width: 800px) {
		width: 800px;
	}
	@media screen and (max-width: 800px) {
		width: 100%;
	}
}

.tab {
	/*width: 640px;*/
	margin: auto auto;
	margin-top: @headerHeight;
}

.hidden-tab {
	display:none;
}


#footer {
	padding-top: 20px;
	background-color: @bgcolor;
	clear:both;
	width:100%;
	color:#333;
	font-size:90%;
	font-family:monospace;
	text-align:center;
}
