[submodule "lib/extern/parsedown"]
	path = lib/extern/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "lib/extern/JShrink"]
	path = lib/extern/JShrink
	url = https://github.com/tedious/JShrink.git
[submodule "lib/extern/lessphp"]
	path = lib/extern/lessphp
	url = https://github.com/leafo/lessphp.git
